.NavigationItem {
    box-sizing: border-box;
    display: block;
    width: auto;
    height: auto;
    align-items: center;
    border-right: 1px solid rgb(255, 79, 79);
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 16px 60px;
}

.NavigationItem a:hover {
    background-color: #c9989c;
}

.NavigationItem a:active,
.NavigationItem a.active {
    background-color: #e64c59;
    color: white;
}