.Event {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border: 1px solid black;
    margin: 20px 12px;
    padding: 0px;
    background-color: silver;
}

.Cover {
    border-bottom: 1px solid black;
    text-align: center;
    margin: 0px auto;
    padding: 20%;
}

.Date,
.Location {
    margin: 4px 10px 0px;
}

.Event h4 {
    margin: 0px 10px;
}

.Event h4:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.Button {
    width: 80%;
    margin: 10px 0px 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    
}
.Button div {
    width: 50%;
    padding-left: 10px;
    padding-right: 5px;
    
}
