.Input {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
}
.Label {
    width: 18%;
    font-weight: bold;
    display: block;
}

.InputElement {
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    font: inherit;
    margin: 12px 12px 8px;
    padding: 6px 10px;
    width: 60%;
    display: block; 
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    border: 1px solid rgb(62, 62, 253);
}

.Invalid {
    border: 1px solid red;
    background-color: salmon;
}

.Error {
    color: red;
    margin: 0px;
} 