.SideNavigationItems {
    width: auto;
    height: inherit;
    margin: 0px; 
    padding: 0px 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SideNavigationItems div {
    display: flex;
    flex-direction: row;
    align-items: center;
}