.SideNavigationItems {
    width: 55%;
    height: inherit;
    margin: 0px; 
    padding: 0px 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}